
html {
	margin: 0;
	padding: 0;
	height: 100%;
/*	font-size: 100%;*/
	font-size: 16px;
}

textarea {
	width: 100%;
	max-width: 100%;
	font-size: 1rem;
	padding: 0.5rem;
}

body {
	margin: 0;
	padding: 0;
	height: 100%;

	font-family: ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
	font-size: 16px;

	display: flex;
	flex-direction: column;

	> header {
		background: #333;
		color: white;
/*		padding: 0.75rem;*/
		padding: 12px;
		text-align: center;
	}

	> main {
		flex: 1;
/*		background: #f9f9f9;*/
		display: flex;
		flex-direction: column;

		> article {
			flex: 1;
			background: #fff;
/*			background: lightgreen;*/
			padding: 12px;
		}

		> nav, 
		> aside {
			background: #ddd;
			padding: 12px;
		}
	}

	> footer {
		background: #333;
		color: white;
		padding: 12px;
		text-align: center;
	}
}


@media (min-width: 768px) {
	body {
		> main {
			flex-direction: row;

			> article {
				flex: 1;
			}

			> nav,
			> aside {
				flex: 0 0 200px;
			}
		}
	}
}


h1, h2, h3, h4, h5, h6 {
	color: #00386B;
}
